[submodule "lib/pico-sdk"]
	path = lib/pico-sdk
	url = https://github.com/raspberrypi/pico-sdk
[submodule "lib/jerryscript"]
	path = lib/jerryscript
	url = https://github.com/jerryscript-project/jerryscript
[submodule "lib/uthash"]
	path = lib/uthash
	url = https://github.com/troydhanson/uthash
[submodule "lib/littlefs"]
	path = lib/littlefs
	url = https://github.com/littlefs-project/littlefs.git
